<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Simple to do list </title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <div id="app">
    <div>
      <label for="task"> To do list </label>
      <input v-model="taskInput" id="task" placeholder="Add a new task. Ex: Code in VueJS" type="text" />
      <button v-on:click="addTask"> Add task </button>
    </div>
    <ul>
      <li v-for="task in tasks"> {{ task }} </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>